@model SmartFarming.Models.AddDealer

@{
    ViewBag.Title = "AddDealer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp; Add Dealer
            </h4>
        </div>
        @using (Html.BeginForm("AddDealer", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-body" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.role_id, new SelectList(Model.Roles, "id", "Title"), "Select Role", new { @class = "form-control col-md-10" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <label class="label-success">@ViewBag.SucessMessage</label>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.manage-crop').removeClass('active');
        $('.manage-dealer').addClass('active');
        $('.manage-faq').removeClass('active');
        $('.manage-news').removeClass('active');
    });
</script>